<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  {{> head }}
  <body class=" " id="page-top">
    {{>nav}}
    <main>
      {{{ body }}}
    </main>
  {{> footer }}
    
  </body>
  
</html>
